@media (min-width: 992px){
    .modal-lg {
        max-width: 992px;
    }
}
.selectedImage {
    //border: 1px solid #1d643b;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;

    .img {
        max-width: 80%;
    }
}
.disconnectImage {
    margin-top:10px;
    float: left;
}
